{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>{{ profile_user.username }}'s Profile</h1>
            <p>{{ profile_user.profile.bio|default:"No bio available." }}</p>
        </div>
            <div class="col-12 col-md-4 text-center">
                {% if "placeholder" in profile_user.profile_picture.url %}
                <img src="{% static 'images/nobody.jpg' %}" class="profile-image" alt="placeholder image">
                {% else %}
                <img src="{{ profile_user.profile.profile_picture.url }}" alt="Profile Picture">
                {% endif %}
            </div>
    </div>
</div>


{% endblock %}