{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>{{ profile_user.username }}'s Profile</h1>
            <p>{{ profile_user.profile.bio|default:"No bio available." }}</p>
        </div>
            <div class="col-12 col-md-4 text-center">
                <img src="{{ profile_user.profile.get_profile_picture_url }}" alt="Profile Picture" class="profile-img">
            </div>
    </div>
</div>


{% endblock %}