/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Vars */
:root {
    /* Colors */
    --font-color: #100B00;    /* Smoky Black */
    --highlight: #FFFFFF;          /* White */ 
    --background: #f6f6f6;    /* Grey */


    /* Fonts */
    --font-heading: "Courier Prime", monospace;     /* For headings */
    --font-subheading: "Fira Code", monospace;    /* For subheadings */
    --font-paragraph: "Source Code Pro", monospace;    /* For paragraphs */


    /* Font Sizes */
    --font-size-small: 0.875rem;    /* Small text */
    --font-size-medium: 1rem;    /* Default text size */
    --font-size-large: 1.25rem;    /* Larger text */
    --font-size-heading: 2rem;    /* Heading size */
    --font-size-subheading: 1.5rem;    /* Subheading size */


    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;

    /* Borders */
    --border-radius: 2px;

    /* Shadows */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Transitions */
    --transition-default: all 0.3s ease;
}

/* Global variables */

h1 {
    font-family: var(--font-heading);
    color: var(--font-color);
    font-size: var(--font-size-heading);
}

h2,
h3,
h4,
h5,
h6{
    font-family: var(--font-subheading);
    color: var(--font-color);
    font-size: var(--font-size-subheading);
}

p{
    font-family: var(--font-paragraph);
    font-size: var(--font-size-medium);
}

a{
    text-decoration: none;
    color: var(--font-color);
}

a:hover{
    text-decoration: underline;
}

body{
    background-color: var(--background);
    padding-bottom: 120px;
}

/* Navbar styles */
.custom-navbar{
    background-color: var(--highlight);
    box-shadow: var(--box-shadow);
    font-family: var(--font-paragraph);
}

/* footer styles */
.custom-footer{
    background-color: var(--highlight);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.custom-navbar a:hover{
    text-decoration: none;
}

/* Card styles */

.card{
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-top: 35px;
    margin-bottom: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#post-detail-card {
    margin-bottom: 25px;
    width: 100%;
}

#edit-post-form{
    width: 100%;
}

#create-post-form{
    width: 100%;
}

#edit-profile-form{
    width: 100%;
}

#post-image{
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 60%;
    margin: 0;
}

#profile-pic{
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 60%;
    margin: 0;
}

/* Like button */

.like-text{
    font-family: var(--font-paragraph);
}

/* Alert message */

#msg-container{
    margin-top: 80px;
}


/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
    .card {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 75px;
        padding: 15px;
    }

    #post-image {
        width: 80%;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2, h3, h4, h5, h6 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.875rem;
    }
    .note-editor {
        min-height: 150px; /* Adjust editor height as needed */
    }
}

/* Mobiles */
@media (max-width: 480px) {
    .card {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }

    #post-image {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, h3, h4, h5, h6 {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }

    .note-editor {
        display: none; /* Adjust editor height as needed */
    }
}

