{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container d-flex justify-content-center">
    <div class="card">
        <h1>{{ post.title }}</h1>

        <!-- Post Image -->
        <img src="{{ post.get_image_url }}" class="card-img-top" id="post-image" alt="{{ post.title }}">
        <div class="card-body">
            <article class="card-text">
                <p>{{ post.content | safe }}</p>
                <img src="{{ post.author.profile.profile_picture.url }}" alt="{{ post.author.username }}"
                    class="profile-picture" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                <a href="{% url 'view_profile' post.author.username %}">
                    <p class="text-muted small">Author: {{ post.author }}</p>
                </a>
                <p class="text-muted small">Posted on: {{ post.created_at }}</p>
                {% if user.is_authenticated and post.author == user %}
                <div class="mb-4">
                    <a href="{% url 'edit_post' post.id %}">
                        <button class="btn" type="submit">
                            <i class="fa-solid fa-pen-to-square fa-lg px-2"></i> Edit Post
                        </button>
                    </a>
                    <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{ post.id }}">
                        <i class="fa-regular fa-trash-can fa-lg px-2"></i> Delete Post
                    </button>
                </div>
                {% endif %}

                <strong class="text-secondary">
                    <i class="far fa-comments px-2"></i>{{ comment_count }}
                    <i class="fa-regular fa-thumbs-up fa-lg px-2"></i>{{ post.total_likes }}
                </strong>
                <!-- Like Button -->
                <div class="row mt-4">
                    <div>
                        <form action="{% url 'like_post' post.id %}" method="POST">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                            {% if user in post.likes.all %}
                            <button type="submit" class="btn">
                                <i class="fa-solid fa-thumbs-up fa-lg"></i>
                            </button>
                            <span class="like-text text-muted small">unlike</span>
                            {% else %}
                            <button type="submit" class="btn">
                                <i class="fa-regular fa-thumbs-up fa-lg"></i>
                            </button>
                            <span class="like-text text-muted small">like</span>
                            {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>

                <hr>
                <!-- Comments form -->
                <div class="container mt-4">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment</h3>
                    <form method="post" id="commentForm">
                        {{ comment_form|crispy }}
                        {% csrf_token %}
                        <button type="submit" id="submitButton" class="btn btn-dark">Submit</button>
                    </form>
                    {% else %}
                    <p>Fancy leaving a comement? <a href="{% url 'account_login' %}">Login</a> or <a
                            href="{% url 'account_signup' %}">Signup</a></p>
                    {% endif %}
                </div>
                <hr>
                <!-- Comment display -->
                <div class="container mt-4">
                    <h3>Comments:</h3>
                    <!-- We want a for loop inside the empty control tags
                      to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="p-2 comments
                      {% if not comment.approved and comment.user == user %}
                      faded{% elif not comment.approved %} d-none{% endif %}">
                        <p class="font-weight-bold">
                            <img src="{{ comment.user.profile.profile_picture.url }}" alt="{{ user.username }}"
                                class="profile-picture"
                                style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                <a href="{% url 'view_profile' comment.user.username %}">
                                    <p>{{ comment.user }}</p></a>
                            <span class="font-weight-normal">
                                {{ comment.created_at }}
                            </span> wrote:
                        </p>
                        <div id="comment{{ comment.id }}">
                            {{ comment.content | linebreaks }}
                        </div>
                        {% if not comment.approved and comment.user == user %}
                        <p class="approval">
                            This comment is awaiting approval
                        </p>
                        {% endif %}
                        {% if user.is_authenticated and comment.user == user %}
                        <button class="btn btn-delete" comment_id="{{ comment.id }}"><i class="fa-regular fa-trash-can fa-lg p-2"></i>Delete</button>
                        <button class="btn btn-edit" comment_id="{{ comment.id }}"><i class="fa-solid fa-pen-to-square fa-lg p-2" comment_id="{{ comment.id }}"></i>Edit</button>
                        {% endif %}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
</div>



<!-- Delete confirmation modal for users comments using JavaScript -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!--  Delete confirmation Modal for users posts using just HTML   -->
<div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ post.id }}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ post.id }}">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Delete confirmation form -->
                <form action="{% url 'delete_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}