{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="card">
    <div class="card-body">
        <h1>{{ post.title }}</h1>
        <p class="text-muted small">Author: {{ post.author }}</p>
        <p class="text-muted small">Posted on: {{ post.created_at }}</p>

        <article class="card-text">
            {{ post.content | safe }}
        </article>
    </div>
</div>
<!-- Displaying count of comments -->
<div class="row">
    <div class="col-12">
        <strong class="text-secondary">
            <i class="far fa-comments"></i> {{ comment_count }}
        </strong>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
<!-- Displaying Comments -->
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.user }}
                    <span class="font-weight-normal">
                        {{ comment.created_at }}
                    </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.content | linebreaks }}
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">
                    This comment is awaiting approval
                </p>
                {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}